<?php session_start(); 
$subsetid = $_GET['sid'];
$timelimit = $_GET['timelimit'];

include_once('sqlconnect.php');?>

<?php include_once('header.php'); ?>
<?php include_once('navigation.php'); ?>
<link href="css/question.css" rel="stylesheet">
<div class="container">

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <?php
                    $sel = mysql_query("SELECT * FROM examsubset WHERE id='$subsetid'");
                    $res = mysql_fetch_array($sel);
                ?>
                <h3>QUESTIONS <?php echo strtoupper($res['examsubsetname'])?></h3>
                <hr/>
                <?php 
                    $qry = mysql_query("SELECT * FROM qmasterlist WHERE examsubset_id='$subsetid'");
                       $question = '';
                       $choice1 = '';
                       $choice2 = '';
                       $choice3 = '';
                       $choice4 = '';
                       $choice5 = '';
                    while ($result = mysql_fetch_array($qry)) {
                       
                       if($result['qtext']==''){
                          if($result['qimg']=='undefined' ||  $result['qimg']==''){
                            $question ='';
                          }else{
                            $question = 'uploads/'.$result['qimg'];
                          }
                       }else{
                        $question = $result['qtext'];
                       }

                       if($result['a']==''){
                          if($result['a_img']=='undefined' ||  $result['a_img']==''){
                            $choice1 = '';
                          }else{
                            $choice1 = 'uploads/'.$result['a_img'];
                          }
                       }else{
                        $choice1 = $result['a'];
                       }

                       if($result['b']==''){
                          if($result['b_img']=='undefined' ||  $result['b_img']==''){
                            $choice2 = '';
                          }else{
                            $choice2 = 'uploads/'.$result['b_img'];
                          }
                       }else{
                        $choice2 = $result['b'];
                       }

                       if($result['c']==''){
                          if($result['c_img']=='undefined' ||  $result['c_img']==''){
                            $choice3 = '';
                          }else{
                            $choice3 = 'uploads/'.$result['c_img'];
                          }
                       }else{
                        $choice3 = $result['c'];
                       }

                       if($result['d']==''){
                          if($result['d_img']=='undefined' ||  $result['d_img']==''){
                            $choice4 = '';
                          }else{
                            $choice4 = 'uploads/'.$result['d_img'];
                          }
                       }else{
                        $choice4 = $result['d'];
                       }

                       if($result['e']==''){
                          if($result['e_img']=='undefined' ||  $result['e_img']==''){
                            $choice5 = '';
                          }else{
                            $choice5 = 'uploads/'.$result['e_img'];
                          }
                       }else{
                        $choice5 = $result['e'];
                       }

                       if(strtoupper($result['q_type'])=="MULTIPLE CHOICE"){ 
                          if($result['qtext']==''){
                            if($result['qimg']=='undefined' ||  $result['qimg']==''){
                              $question ='';
                            }else{
                              echo '<p><span class="pull-left" style="margin-right:10px;">'.$result['qno'].'. </span> '.$question.'</p>';
                              $question = '<img src="uploads/'.$result['qimg'].'" class="ques">';
                              echo '<p><span class="pull-left" style="margin-right:10px;">'.$result['qno'].'. </span> '.$question.'</p>';
                          }
                          }else{

                          }
                           
                           echo ' 

                                    <p class="choices">'.$result['a_label'].' <input type="radio" name="subid'.$result['qid'].'" value="'.$choice1.'"> '.$choice1.'</p>
                                    <p class="choices">'.$result['b_label'].' <input type="radio" name="subid'.$result['qid'].'" value="'.$choice2.'"> '.$choice2.'</p>
                                    <p class="choices">'.$result['c_label'].' <input type="radio" name="subid'.$result['qid'].'" value="'.$choice3.'"> '.$choice3.'</p>
                                    <p class="choices">'.$result['d_label'].' <input type="radio" name="subid'.$result['qid'].'" value="'.$choice4.'"> '.$choice4.'</p>
                                    <p class="choices">'.$result['e_label'].' <input type="radio" name="subid'.$result['qid'].'" value="'.$choice5.'"> '.$choice5.'</p>
                                 ';
                        }elseif(strtoupper($result['q_type'])=="FILL-IN THE BLANK"){
                            echo '<p><span class="pull-left" style="margin-right:10px;">'.$result['qno'].'. </span> '.$question.'</p>';
                            echo '<div class="form-group">  
                                    <label>Answer: </label>
                                    <textarea class="form-control"></textarea>

                                  </div>';
                                        
                        }else{

                           echo '<p><span class="pull-left" style="margin-right:10px;">'.$result['qno'].'. </span> '.$question.'</p>';
                           echo '
                                    <p class="choices">'.$result['a_label'].' <input type="radio" name="ad-subid'.$result['qid'].'" value="'.$choice1.'"> '.$choice1.'</p>
                                    <p class="choices">'.$result['b_label'].' <input type="radio" name="ad-subid'.$result['qid'].'" value="'.$choice2.'"> '.$choice2.'</p>
                                    <p class="choices">'.$result['c_label'].' <input type="radio" name="ad-subid'.$result['qid'].'" value="'.$choice3.'"> '.$choice3.'</p>
                                    <p class="choices">'.$result['d_label'].' <input type="radio" name="ad-subid'.$result['qid'].'" value="'.$choice4.'"> '.$choice4.'</p>
                                    <p class="choices">'.$result['e_label'].' <input type="radio" name="ad-subid'.$result['qid'].'" value="'.$choice5.'"> '.$choice5.'</p>
                                 ';


                        }
                    }

                ?>
            </div>
              
        </div>
    <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="timer pull-left"></div>
            <button class="btn btn-primary pull-right btn-lg" onClick="startexam('<?php echo $subsetid?>')" id="btnNext" data-toggle="tooltip" title="Click to proceed">Start</button>          
          </div>
        </div>
    </div>
</div>


</div>
<script type="text/javascript" src="js/take-exam.js"></script>
<script type="text/javascript">
  var minutes = <?php echo substr($subsetid, strpos($subsetid, ',')+1); ?>;
var seconds = minutes * 60;

function convertIntToTime (num) {
    var mins = Math.floor(num/60);
    var secs = num % 60;
    var timerOutput = "Time left: " + (mins < 10 ? "0" : "" ) + mins + ":" + (secs < 10 ? "0" : "" ) + secs;
    return(timerOutput);
}

var countdown = setInterval(function() {
    var current = convertIntToTime(seconds); // set the display of the time
    $('.timer').html(current); // place the display time in the div
    if(seconds == 0) { 
        clearInterval(countdown); // stop the time when there are no more seconds
        alert('nix tapos na time nya dito mo nalang ilagay yung function mo ano mang yayari pag natapos na.')
    }
    seconds--; // subtract a second
}, 1000);
</script>
<?php include_once('footer.php'); ?>






