<?php 
session_start(); 
if(isset($_SESSION['fullname'])){

}else{
  header('Location: info.php');
}

include_once('sqlconnect.php');?>

<?php include_once('header.php'); ?>
<?php include_once('navigation.php'); ?>
<div class="container">

<div class="col-lg-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-body">
            <!--<ul class="nav nav-pills nav-wizard">
                  <li><a href="info.php">Data Information</a><div class="nav-arrow"></div></li>
                  <li  class="active"><div class="nav-wedge disabled"></div><a href="profile.php" class="nav-item">Profile</a><div class="nav-arrow"></div></li>
                  
                  <li><div class="nav-wedge disabled"></div><a href="#" class="nav-item">Well Done!</a></li>
                </ul>-->

                <div id="reg-items" class="row"><!-- Registration Items -->

                  <div id="data-info"><!-- Item 1 -->
                      <div class="col-md-12">
                        <h3>PROFILE</h3>
                        <br/>

                      </div>
                      <div class="col-md-12">

                        <div class="form-group">
                          <?php
                            $allid =  array();
                            $qry = mysql_query("SELECT * FROM profiling WHERE id='{$_SESSION['maxval']}'");
                            echo '<table class="table table-striped table-hover">';
                            while ($result=mysql_fetch_array($qry)) {

                              if($result['current_employer']==''){
                                $res = 'NONE';
                              }else{
                                $res = $result['current_employer'];
                              }
                              if($result['current_position']==''){
                                $res2 = 'NONE';
                              }else{
                                $res2 = $result['current_position'];
                              }                        
                              echo '<tr><td><label class="wid">Fullname:</label></td><td>'.$result['name'].'</td></tr>';
                              echo '<tr><td><label class="wid">Gender:</label></td><td>'.$result['gender'].'</td></tr>';
                              echo '<tr><td><label class="wid">Age:</label></td><td>'.$result['age'].'</td></tr>';
                              echo '<tr><td><label class="wid">Educational Attaintment:</label></td><td>'.$result['educ_attaintment'].'</td></tr>';
                              echo '<tr><td><label class="wid">Current Employer:</label></td><td>'.$res.'</td></tr>';
                              echo '<tr><td><label class="wid">Current Position:</label></td><td>'.$res2.'</td></tr>';
                              echo '<tr><td><label class="wid">Position:</label></td><td>'.$result['level'].'</td></tr>';
                            }

                            echo '<table/>';

                            $qry2 = mysql_query("SELECT * FROM vw_examtype WHERE level_id='{$_SESSION['level']}'");
                            echo '<div class="col-md-12">
                                    <h3>EXAM</h3>
                                    <br/>

                                  </div>';
                            echo '<table class="table table-striped table-responsive">';
                            echo '<tr>
                                    <th>Category</th>
                                    <th>Type of Test</th>
                                    <th>Time Limit</th>
                                    <th></th>
                                    
                                  </tr>';
                         
                                 
                              while ($rows=mysql_fetch_array($qry2)) {
                                $qr = mysql_query("SELECT * FROM vw_examsubset 
                                      WHERE typeoftest_id='{$rows['typeoftest_id']}'");
                                $qr2 = mysql_query("SELECT * FROM vw_examsubset 
                                      WHERE typeoftest_id='{$rows['typeoftest_id']}'");

                                echo '<tr>
                                        <td>'.strtoupper($rows['category']).'</td>
                                        <td>
                                          <p>'.$rows['typeoftest'].'</p>';
                                          $ctr = array();

                                          while ($tot = mysql_fetch_array($qr)) {
                                            $allid[] = $tot['id'];
                                            $ctr[] = $tot['id'];
                                            echo '<p style="text-indent:20px;"><span class="glyphicon glyphicon-chevron-right" style="font-size:10px;"></span> '.strtoupper($tot['examsubsetname']).' </p>';
                                            $_SESSION['lastsubsetid'] = $tot['id'];
                                          }
                                          
                                echo    '</td>';
                                echo    '<td><p><br/></p>';
                                          
                                          while ($nix = mysql_fetch_array($qr2)) {
                                            $ragie[] = $nix['timelimit'];
                                            echo '<p style="text-indent:20px;">'.$nix['timelimit'].'</p>';

                                          }
                                echo    '</td>';
                                echo    '<td><p><br/></p>';
                                          
                                          for($x=0;$x<count($ctr);$x++){
                                            

                                            echo '<p><button disabled id="btn'.$ctr[$x].'" onClick="loadquestion('.$ctr[$x].','.$ragie[$x].')" class="btn ss btn-primary btn-xs">START EXAM</button></p>';
                                          }
                                echo    '</td>';          
                                echo  '</tr>';
                              }
                            echo'</table>';
                          ?>
                          
                        </div>

                      </div>
                  </div>
        </div>
    </div>
    
</div>


</div>

<?php include_once('footer.php'); ?>
<script type="text/javascript" src="js/take-exam.js"></script>
<script type="text/javascript">

 //var first = <?php echo $allid[0] ?>;
 $('.ss:first').prop("disabled",false);
    
var btnarray = $('.ss').map( function() {
            name = $(this).attr('id');            
            return name;
    }).get();


</script>


