body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.big-error{
  background-color: #f4f4f4;
  border-bottom: 4px solid #c72a25;
}

.big-glyp{
  font-size: 250px;
}