
.choices{
	text-indent: 20px;
}

.ques{
    display: inline-block;
    
    min-width: 100%;
    max-height:200px;
    width: auto;
    height: auto;
}

.choice{
	display: inline-block;
    
    min-width: 30%;
    max-height:100px;
    width: auto;
    height: auto;
}

.custwid{
    min-width: 500px;
}

.custfont{
    font-size: 5pt;
}