body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url('../img/bg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.login-panel{
  background-color: #f4f4f4;
}
.form-signin {
  padding: 15px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-btn{
  margin-top: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
p#loginTitle{
	font-size: 25px;
}