/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

footer{
  color: #656565;
  font-weight: bold;
  height: 45px; 
}

a:active, a:focus { outline: none; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 10px;
  }
}

/* sidebar top */
.navbar-default {
  background-color: #f0f0f0;
  border-bottom: 0px #e1e0de;
}
.navbar-default .navbar-brand {
  color: #656565;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: #c72a25;
}
.navbar-default .navbar-text {
  color: #656565;
}
.navbar-default .navbar-nav > li > a {
  color: #656565;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #c72a25;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #c72a25;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #c72a25;
}
.navbar-default .navbar-toggle {
  border-color: #656565;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #e1e0de;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #656565;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #656565;
}
.navbar-default .navbar-link {
  color: #656565;
}
.navbar-default .navbar-link:hover {
  color: #232323;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #656565;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #656565;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #656565;
    background-color: #e1e0de;
  }
}


/* Sidebar navigation */

/* icons */
.nav-icons{
  margin-right: 5px;
}

.nav-sidebar {
  font-size: 15px;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #555555;
  font-weight: bold;
}
.nav-sidebar > li > a:hover {
  color: #ffffff;
  background-color: #191919;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #c72a25;
}

/* Submenu */

.sub-menu > li > a {
  background-color: #191919;
  padding-right: 20px;
  padding-left: 30px;
  color: #555555;
  font-weight: bold;
  border-left: 4px solid #c72a25;
}

.sub-menu > li > a:hover {
  color: #ffffff;
  background-color: #232323;
}
.sub-menu > li > a.active {
  color: #ffffff;
  background-color: #c72a25;
}
li a#has-submenu:hover{
  color: #ffffff;
  background-color: #191919;
}
a#has-submenu:active{
  background-color: #232323;
}
a#has-submenu:focus{
  background-color: #232323;
}

a.add-border{
  background-color: #191919;
  border-left: 4px solid #c72a25;
}



/* User content */
.user-cont{
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 2px solid #191919;
}

.user-info{
  margin-left: 55px;
}

.user-info-name{
  color: #ffffff;
}

.btn-settings{
  background-color: #232323;
  color: #555555;
  border: 0px;
}

.btn-settings:hover{
  background-color: #c72a25;
  color: #ffffff;
}


/*
 * Validation
 */
 .has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #00bc8c;
}
.has-success .form-control {
  border-color: #00bc8c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #00bc8c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-success .input-group-addon {
  color: #00bc8c;
  border-color: #00bc8c;
  background-color: #fff;
}
.has-success .form-control-feedback {
  color: #00bc8c;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #f39c12;
}
.has-warning .form-control {
  border-color: #f39c12;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #f39c12;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-warning .input-group-addon {
  color: #f39c12;
  border-color: #f39c12;
  background-color: #ffffff;
}
.has-warning .form-control-feedback {
  color: #f39c12;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #e74c3c;
}
.has-error .form-control {
  border-color: #e74c3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-error .input-group-addon {
  color: #e74c3c;
  border-color: #e74c3c;
  background-color: #ffffff;
}
.has-error .form-control-feedback {
  color: #e74c3c;
}



/*
 * Main content
 */

.main {
  padding: 10px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/* more tweak */

/* side bar */

#sidebar, .nav-sidebar, .side{
  background-color: #232323;
}

/* main */
.main{
  background-color: #e1e0de;
}


/*
* button toolbar panel
*/

.btn-panel-top{
  background-color: transparent;
 }

.btn-panel-top:hover{
  color: #c72a25;
  border-bottom: 1px solid #c72a25;
}
.btn-panel-top:focus{
  color: #303030;
  border-bottom: 0px;
}

/*
* Table
*/

tr.record:hover{
  background-color: #f5f5f5;}

tr.active{
  border-left: 2px solid #c72a25;
}


/*
* Counter Icon
*/
.counter-icon{
	font-size: 60px;
}

.counter-number{
	font-size: 40px;
}

/*
* Logo
*/
.navbar-logo{
	margin-top: -15px;
}

/*
* IMG Style
*/
div.barcode-container{
	width: 100%;
	height: 150px;
	background-color: #e1e0de;
	display: inline-block;
    vertical-align: middle;
    float: none;
}

div.barcode-container:hover{
	background-color: #5d5d5d;
}

div.barcode-container-with-img{
	width: 100%;
	height: 150px;
	background-color: transparent;
	border: 1px solid #000;
}

div.barcode-container-with-img:hover{
	background-color: #e1e0de;
}

i.barcode-plus{
	margin-top: 15px;
	font-size: 100px;
}

div.barcode-container-hide{
	color: transparent;
	background-color: transparent;
}

/*
* iOS Togle Des
*/
input#toggle, input#toggle2, input#toggle3, input#toggle4  {
				max-height: 0;
				max-width: 0;
				opacity: 0;
			}
			
			/* The following provides the "container" for our toggle in its default (off) state */
			
			input#toggle + label, input#toggle2 + label, input#toggle3 + label , input#toggle4 + label  {
				display: block;
				position: relative;
				box-shadow: inset 0 0 0px 1px #d5d5d5;
				text-indent: -5000px;
				height: 30px;
				width: 50px;
				border-radius: 15px;
			}
			
			/* The following provides the green background for the "on" state of our toggle - it is hidden when the switch is off */
			
			input#toggle + label:before, input#toggle2 + label:before, input#toggle3 + label:before, input#toggle4 + label:before {
				content: "";
				position: absolute;
				display: block;
				height: 30px;
				width: 30px;
				top: 0;
				left: 0;
				border-radius: 15px;
				background: rgba(19,191,17,0);
				-webkit-transition: .25s ease-in-out;
			}
			
			/* The following provides the actual switch and its drop shadow */
			
			input#toggle + label:after, input#toggle2 + label:after, input#toggle3 + label:after, input#toggle4 + label:after {
				content: "";
				position: absolute;
				display: block;
				height: 30px;
				width: 30px;
				top: 0;
				left: 0px;
				border-radius: 15px;
				background: white;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
				-webkit-transition: .25s ease-in-out;
			}
			
			/* The following defines the "on" state for the switch */
			
			input#toggle:checked + label:before, input#toggle2:checked + label:before, input#toggle3:checked + label:before, input#toggle4:checked + label:before {
				width: 50px;
				background: rgba(19,191,17,1);
			}
			
			input#toggle:checked + label:after, input#toggle2:checked + label:after, input#toggle3:checked + label:after, input#toggle4:checked + label:after {
				left: 20px;
				box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
			}

/*
* Accord Head
*/
div.accord-head{
	margin-top: -25px;
}

.uppercase{
  text-transform: uppercase;
}

  
    .black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: fixed;
        top: 8%;
        left: 25%;
        width: 50%;
        height: 90%;
        padding: 16px;
        border: 16px solid lightgray;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }



